/* ================= NAVBAR ================= */

.navbar{
position:fixed;
top:0;
left:0;
width:100%;
height:70px;
background:#e43d12;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 40px;
z-index:1000;
}


/* ================= LOGO ================= */

.logo-container{
display:flex;
align-items:center;
gap:10px;
cursor:pointer;
}

.logo-icon{
width:42px;
height:42px;
background:white;
color:#ff5a00;
display:flex;
align-items:center;
justify-content:center;
font-size:20px;
font-weight:bold;
border-radius:10px;
box-shadow:0 2px 6px rgba(0,0,0,0.2);
}

.logo-text{
font-size:24px;
font-weight:700;
color:white;
}


/* ================= SEARCH ================= */

.nav-center{
flex:1;
display:flex;
justify-content:center;
}

.search-bar{
width:320px;
padding:9px 14px;
border-radius:8px;
border:none;
outline:none;
font-size:14px;
}


/* ================= RIGHT SECTION ================= */

.nav-right{
display:flex;
align-items:center;
gap:25px;
color:white;
}


/* ================= ORDERS ================= */

.orders-btn{
display:flex;
align-items:center;
gap:6px;
background:transparent;
border:none;
color:white;
font-size:15px;
cursor:pointer;
font-weight:500;
}

.orders-btn:hover{
opacity:0.8;
}

.orders-icon{
font-size:16px;
color:white;
}


/* ================= CART ================= */

.nav-cart{
display:flex;
align-items:center;
gap:6px;
cursor:pointer;
color:white;
}

.cart-icon-wrapper{
position:relative;
display:flex;
align-items:center;
}

.cart-icon{
font-size:18px;
color:white;
}

.cart-text{
color:white;
font-size:15px;
font-weight:500;
}

/* BADGE */

.cart-badge{
position:absolute;
top:-6px;
right:-8px;
background:red;
color:white;
font-size:11px;
width:18px;
height:18px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
}


/* ================= USER ================= */

.user-section{
display:flex;
align-items:center;
gap:6px;
cursor:pointer;
color:white;
position:relative;
}

.dropdown-icon{
font-size:12px;
}


/* ================= DROPDOWN ================= */

.user-dropdown{
position:absolute;
top:40px;
right:0;
background:white;
color:#333;
border-radius:8px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
width:160px;
overflow:hidden;
z-index:1000;
}

.user-dropdown div{
padding:12px;
cursor:pointer;
}

.user-dropdown div:hover{
background:#f5f5f5;
}